{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MitsuList{% endblock %}</title>

    <!-- P5 Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'ico/site.webmanifest' %}">

    <!-- Fonts & Icons -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@300;400;700&family=Hachi+Maru+Pop&family=Mochiy+Pop+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <center>
        <div id="navbar">
            <a href="{% url 'home' %}">
                <span id="name-header">
                    <span style="color: #ffd166;">Mitsu</span>List
                </span>
            </a>
            <div id="search-container-nav">
                <input id="input-box" placeholder="Search Anime">
                <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>

        <!-- AJAX Search Results Container -->
        <div id="container"></div>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% block footer %}
            <!-- Add footer content if needed later -->
            {% endblock %}
        </footer>
    </center>

    <!-- Scripts -->
    {% block scripts %}{% endblock %}
</body>

</html>